<!DOCTYPE html>
{% extends 'dashboard.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-12 grid-margin stretch-card">

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Add new catyegory</h4>

            <form class="forms-sample" method="post" action="{% url 'save_categories' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="exampleInputName1">Category Name</label>
                    <input type="text" class="form-control" id="exampleInputName1" placeholder="category name"
                           name="c_name">
                </div>

                <div class="form-group">
                    <label for="exampleTextarea1">Description</label>
                    <textarea class="form-control" id="exampleTextarea1" rows="4" name="despn"></textarea>
                </div>

                <div class="form-group">
                    <label>Upload Category image</label>
                    <div class="input-group col-xs-12">
                        <input type="file" class="form-control " placeholder="Upload Image" name="c_img">
                    </div>
                </div>


                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button class="btn btn-dark">Cancel</button>
            </form>
        </div>
    </div>
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

{% if messages %}
  {% for i in messages %}
    {% if i.tags == 'success' %}
      <script>
        swal('{{ i }}', '', 'success')
      </script>

    {% elif i.tags == 'error' %}
      <script>
        swal('{{ i }}', '', 'error')
      </script>

    {% elif i.tags == 'warning' %}
      <script>
          swal('{{ i }}', '' , 'warning')
      </script>

    {% elif i.tags == 'info' %}
      <script>
          swal('{{ i }}', '' , 'info')
      </script>

    {% endif %}
  {% endfor %}
{% endif %}

</body>
{% endblock %}
</html>